<%- include('partials/header'); -%>

    <body>
        <div class="content-container">
            <div class="content">
                <h1>
                    <%=title%>
                </h1>
                <div><em>
                        <%=date%>
                    </em></div>
                <div style="text-align: justify;">
                    <%=post%>
                </div>
            </div>
        </div>
    </body>

    </html>